<a href="https://colab.research.google.com/github/ytucayasi/colab-clase/blob/main/Clase_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicio 1 - Carga de archivos CSV desde Drive

In [96]:
import pandas as pd
datos = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTcW09-oTkoYWRYtSFcIIk1dpLQF6u4KfgQVKL_iW7eSYRqXtLcItmzuQj1TJuS3RmaUINciKzHdO8n/pub?gid=414956880&single=true&output=csv')
#Obtenemos la suma de los ingresos
suma_ingresos =datos["ingresos"].sum()
print("Los ingresos totales son: ", suma_ingresos)

#Obtenemos el promedo de las edades
promedio_edad = int(datos["edad"].mean())
print("El promedio de edad es: ", promedio_edad)

#conteo de las personas que viven en arequipa
conteo = datos["ciudad"]
arr = list(conteo)
conteo = 0
for x in arr:
  if x == "Arequipa":
    conteo += 1
print("El conteo de Arequipa es: ", conteo)

#Conteo de las personas que viven en Arequipa
print((datos[(datos['ciudad']=='Arequipa')]))

#Obtenemos le promedio de ingresos por ciudad
promedio_ciudad = datos.groupby('ciudad')['ingresos'].mean().astype(int)
print(promedio_ciudad)

#La persona mas mayor y joven de la lista
persona_joven = datos[(datos['edad'] == datos['edad'].min())]
persona_mayor = datos[(datos['edad'] == datos['edad'].max())]
print('La persona mas joven es: ', list(persona_joven['nombre'])[0], " Trabaja en la ciudad de: ", list(persona_joven['ciudad'])[0])
print('La persona mas mayor es: ', list(persona_mayor['nombre'])[0], " Trabaja en la ciudad de: ", list(persona_mayor['ciudad'])[0])

# Agrupar por ciudad de menor a mayor
personas_por_ciudad = datos.groupby('ciudad')['nombre'].count()
print(personas_por_ciudad)

#Ordenar los datos por edad de forma ascendente
personas = datos.sort_values('edad', ascending=True)
print(personas)

Los ingresos totales son:  76180
El promedio de edad es:  31
El conteo de Arequipa es:  5
      nombre  edad    ciudad  ingresos
1      María    28  Arequipa      3800
4      Pedro    28  Arequipa      3200
10  Gabriela    33  Arequipa      4000
15    Javier    32  Arequipa      5000
21      José    34  Arequipa      4200
ciudad
Arequipa    4040
Cusco       2975
Juliaca     4990
Lima        3366
Puno        1300
Trujillo    2520
Name: ingresos, dtype: int64
La persona mas joven es:  Micaela  Trabaja en la ciudad de:  Juliaca
La persona mas mayor es:  Leonel  Trabaja en la ciudad de:  Juliaca
ciudad
Arequipa    5
Cusco       4
Juliaca     2
Lima        6
Puno        1
Trujillo    5
Name: nombre, dtype: int64
       nombre  edad    ciudad  ingresos
11    Micaela    21   Juliaca      5000
3         Ana    22  Trujillo      2000
20      Lucía    23  Trujillo      1500
12      Diego    24     Cusco      3200
7      Carlos    25     Cusco      1800
13  Valentina    26  Trujillo      3500
9      Andrés    27      Lima      2600
1       María    28  Arequipa      3800
4       Pedro    28  Arequipa      3200
18   Fernanda    28     Cusco      2100
16    Daniela    29      Lima      2700
8       Sofía    29  Trujillo      2900
14     Lorena    30      Lima      3800
0        Juan    30      Lima      2500
6       Laura    31      Lima      4200
17     Manuel    31  Trujillo      2700
15     Javier    32  Arequipa      5000
10   Gabriela    33  Arequipa      4000
21       José    34  Arequipa      4200
19    Ricardo    35      Lima      4400
2        Luis    35     Cusco      4800
22      Willy    55      Puno      1300
5      Leonel    64   Juliaca      4980

#Ejercicio 2 - Carga de archivos CSV desde Drive (archivo 2)

In [28]:
datos_2 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRnDxdP6RaOXkkQhxb2Ly9Y_IWTwAwVslf72ItCiqR9TsT0inzu67p6-aoE_pw0U-pQG1zt5lMyuQYF/pub?gid=974510778&single=true&output=csv')
print(datos_2)

       nombre  edad     genero    ciudad  ingresos      educacion  \
0        Juan    28  Masculino      Lima      4500  Universitario
1       María    35   Femenino  Arequipa      3500     Secundaria
2        Luis    40  Masculino     Cusco      5200  Universitario
3         Ana    22   Femenino      Lima      2800  Universitario
4      Walter    19  Masculino   Juliaca      3100        Técnico
5       Pedro    30  Masculino  Arequipa      4000        Técnico
6       Laura    27   Femenino      Lima      3200     Secundaria
7      Carlos    29  Masculino     Cusco      4800  Universitario
8       Sofía    25   Femenino      Lima      3000  Universitario
9   Esmeralda    23   Femenino   Juliaca      3200  Universitario
10     Andrés    33  Masculino  Arequipa      4200  Universitario
11   Gabriela    31   Femenino      Lima      3800  Universitario
12      Diego    26  Masculino     Cusco      3600        Técnico
13    Ernesto    42  Masculino   Juliaca      4200        Técnico

    estado_civil
0        Soltero
1         Casado
2         Casado
3        Soltero
4        Soltero
5        Soltero
6         Casado
7   Comprometido
8        Soltero
9        Soltero
10        Casado
11    Divorciado
12  Comprometido
13        Casado